main {

  .info_contact {
    display: flex;
    gap: 40px;
    padding-bottom: 48px;
    .horaire_contact {
      flex: 1;
      display: grid;
      width: 30px;
      gap: 20px;
      .adresse_contact, .horaire_bloc_contact {
        background-color: #f1f1f1;
        border-radius: 8px;
        padding: 22px;
        max-width: 266px;
        height: 123px;
        p {
          font-weight: 550;
        }
      }
    }
    .infos_visite_contact {
      h4 {
        width: 66px;
      }
      flex: 1;
      p {
        font-weight: 500;
      }
      .nous_rendre_visite {
        padding-bottom: 38px;
        div {
          display: flex;
          gap: 40px;
        }
        h3 {
          padding-bottom: 28px;
        }
      }
      .tarif_contact {
        padding-bottom: 32px;
      }
      .tarif_contact, .info_contact_centre {
        div {
          display: flex;
          gap: 40px;
        }
        h3 {
          padding-bottom: 28px;
        }
      }

    }
  }
  .maps-google {
    padding-bottom: 72px;
    filter: grayscale(100%);
  }
}

