<main>
  <section>
    <div>
      <p>
        La collection permanente s'est constituée au fil des ans grâce aux dons des artistes. Elle a fait l’objet en 2019 d’un travail de recherche documentaire et de catalogage. Constituée de près de deux cents pièces de toute nature (peintures, sculptures, gravures, dessins, etc.), elle témoigne de la richesse des échanges artistiques au centre d'art depuis plus de cinquante ans. Certaines œuvres pourront bientôt être prêtées à divers partenaires culturels et sociaux (pour l’organisation d’ateliers d’art thérapie, socio-éducatifs), comme aux particuliers, dans le cadre d'un dispositif d'artothèque.
      </p>
    </div>
  </section>
</main>
