
<main>
  <div class="pratique_center">
        <div class="bloc-separation">
          <div class="separationTwo"></div>
      </div>
      <h1>Pratique</h1>
      <div class="bloc-separation">
        <div class="separationTwo"></div>
      </div>
</div>

<section class="info_contact">
<div class="horaire_contact">
  <div class="adresse_contact">
    <p>Centre d’Art Contemporain Raymond Farbos - 1 bis rue Saint Vincent de Paul, 40000 Mont-de-Marsan</p>
  </div>
  <div class="horaire_bloc_contact">
    <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
  </div>
</div>
<div class="infos_visite_contact">
  <div class="nous_rendre_visite">
    <h3>Nous rendre visite</h3>
    <div>
      <h4>BusTMAA</h4>
      <p>Accès TMA : Ligne A - Place St Roch Navette gratuite - Saint Vincent de Paul</p>
    </div>
    <div>
      <h4>Voiture</h4>
      <p>Parking St Roch : entrée par la Place Saint Roch</p>
    </div>
  </div>
  <div class="tarif_contact">
    <h3>Tarifs</h3>
    <div>
      <h4>Cinq €</h4>
      <p>Tarif normal</p>
    </div>
    <div>
      <h4>Deux €</h4>
      <p>Tarif réduit (Apprenti·e·x·s, corps enseignant, artistes)</p>
    </div>
    <div>
      <h4>Gratuit</h4>
      <p>Gratuit pour les membres AACAC, jeunes jusqu'à 18 ans et étudiants, groupes scolaires, chômeurs et AI, ICOM, AICA - Entrée libre chaque premier dimanche du mois</p>
    </div>
  </div>
</div>
</section>




<section class="maps-google">
  <div id="map"></div>
</section>




