<main>
  <div class="pratique_center">
        <div class="bloc-separation">
          <div class="separationTwo"></div>
      </div>
      <h1>Pratique</h1>
      <div class="bloc-separation">
        <div class="separationTwo"></div>
      </div>
</div>

<section class="info_contact">
<div class="horaire_contact">
  <div class="adresse_contact">
    <p>Centre d’Art Contemporain Raymond Farbos - 1 bis rue Saint Vincent de Paul, 40000 Mont-de-Marsan</p>
  </div>
  <div class="horaire_bloc_contact">
    <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
  </div>
</div>
<div class="infos_visite_contact">
  <div class="nous_rendre_visite">
    <h3>Nous rendre visite</h3>
    <div>
      <h4>Bus</h4>
      <p>Accès TMA : Ligne A - Place St Roch</p>
    </div>
    <div>
      <h4>Voiture</h4>
      <p>Parking St Roch : entrée par la Place Saint Roch</p>
    </div>
  </div>
  <div class="tarif_contact">
    <h3>Tarifs</h3>
    <div>
      <h4>Cinq €</h4>
      <p>Tarif normal</p>
    </div>
    <div>
      <h4>Deux €</h4>
      <p>Tarif réduit (Apprenti·e·x·s, corps enseignant, artistes)</p>
    </div>
    <div>
      <h4>Gratuit</h4>
      <p>Gratuit pour les membres AACAC, jeunes jusqu'à 18 ans et étudiants, groupes scolaires, chômeurs et AI, ICOM, AICA</p>
    </div>
  </div>
  <div class="info_contact_centre">
    <h3>Contact</h3>
    <div>
      <h4>Tel</h4>
      <p>05 58 75 55 84</p>
    </div>
    <div>
      <h4>Mail</h4>
      <p>contact&#64;cacdeslandes.com</p>
    </div>
  </div>
</div>
</section>




<section class="maps-google">
  <iframe title="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2875.3512541487808!2d-0.5017114242873093!3d43.889991337084425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55d110d2a58551%3A0x22d0e6b9a1f50d85!2sCentre%20d&#39;art%20contemporain%20Raymond%20Farbos!5e0!3m2!1sfr!2sfr!4v1708506217081!5m2!1sfr!2sfr" width="1140" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>




