<main class="main-content">
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p *ngIf="allSameYear">Programmation {{ nextExpositions[0].titleDate }}</p>
  </div>
  <section class="NextExpo_Container">
    <div class="nextExpo_Article">
      <div *ngFor="let expo of nextExpositions" >
        <div class="next-expo-card" (click)="navigateToDetail(expo._id, expo.name)" >
          <div class="next-expo-card-content">
            <div class="dateOfExpo">
              <p>{{ expo.dateOfExpo }}</p>
              <div class="button-tag">
                <button id="tag">{{expo.type}}</button>
              </div>
            </div>
            <div>
              <img [src]="expo.image" alt="{{ expo.name }}">
              <h2>{{expo.name}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="calendar">
    <full-calendar [options]="calendarOptions"></full-calendar>
    <div class="soutien-model-detail">
      <p [routerLink]="['/archive']" class="soutien-title">Événements passés</p>
    </div>
  </section>
</main>
