<main class="main-content">
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p *ngIf="allSameYear">Programmation {{ nextExpositions[0].titleDate }}</p>
  </div>
  <section class="NextExpo_Container">
    <div class="nextExpo_Article">
      <div *ngFor="let expo of nextExpositions" >
        <div class="next-expo-card" (click)="navigateToDetail(expo._id, expo.name)">
          <div class="next-expo-card-content">
            <div>
              <p>{{ expo.dateOfExpo }}</p>
              <div class="button-tag">
                <button id="tag">{{expo.type}}</button>
              </div>
            </div>
            <div>
              <img [src]="expo.image" alt="{{ expo.name }}">
              <h3>{{expo.name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="calendar">
    <div class="calendar-header">
      <button id="prevMonthBtn">&lt;</button>
      <h6 id="currentMonth">Avril 2024</h6>
      <button id="nextMonthBtn">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-weekdays">
        <div class="weekday">Lu</div>
        <div class="weekday">Ma</div>
        <div class="weekday">Me</div>
        <div class="weekday">Je</div>
        <div class="weekday">Ve</div>
        <div class="weekday">Sa</div>
        <div class="weekday">Di</div>
      </div>
      <div class="calendar-dates" id="calendarDates">
      </div>
    </div>
    <div class="soutien-model-detail">
      <p [routerLink]="['/archive']" class="soutien-title">Événements passés</p>
    </div>
  </section>
</main>
