@import '../../../../styles/variables.scss';
main {
  .bloc-separation {
    padding: 0px 0px 10px 0px;
}
    padding-bottom: 80px;
    h1 {
        text-align: center;
    }
.citation-cac {
    text-align: center;
}
    .NextExpo_Container {
        h2 {
          transition: color 0.3s ease;
            padding-bottom: 10px;
        }
        .nextExpo_Article {
            text-align: center;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, 1fr);
            gap: 75px;
            align-items: center;
            .next-expo-card {
              cursor: pointer;
              img {
                width: 556px;
                height: 344px;
                object-fit: cover;
                text-align: center;
                margin: auto;
              }
              .next-expo-card-content {
                &:hover p {
                  color: grey;
                }
                &:hover h2 {
                  color: grey;
                }
                .dateOfExpo {
                  position: absolute;
                  p {
                    font-family: $fontTitle;
                    line-height: 56px;
                    font-size: 16px;

                  }
                  .button-tag {
                    #tag {
                      text-transform: uppercase;
                      font-size: 12px;
                      color: #494949;
                      text-align: center;
                    }
                  }
                }
              }
            }
        }

    }
    .calendar {
      text-transform: uppercase;
      width: 205px;
      position: fixed;
      top: 257px;
      right: 188px;
      .soutien-model-detail {
        cursor: pointer;
        .soutien-title {
          border-top: 0.5px solid #ccc;
          border-bottom: 0.5px solid #ccc;
          padding:6px 0;
          font-size: 12px;
          color: grey;
          font-weight: 500;
          transition: 1s ease smooth;
        }
        p:hover {
          color: black;
          font-weight: 500;
        }
    }
    .fc {
      flex-direction: column;
      font-size: 0.7em;

    }
  }

}

// MEDIA QUERIES
@media screen and (max-width: 1400px) {
  main {
    .calendar {
      display: none;
    }
  }
}

@media screen and (max-width:1100px) {
  main {
    .NextExpo_Container {
      .nextExpo_Article {
        .next-expo-card {
          .next-expo-card-content {
            display: grid;
            .dateOfExpo {
              position: relative;
              order: 2;
              p {
                text-align: center;
              }
            }
          }
        }
      }
  }
  .NextExpo_Container {
    h2 {
      padding-top: 10px;
      padding-bottom:0px;
    }
  }
}
}
