<section class="page_404">
	<div class="container">
        <div class="bloc-separation-title">
            <div class="bloc-separation">
              <div class="separationTwo"></div>
          </div>
          <h1>404</h1>
          <div class="bloc-separation">
            <div class="separationTwo"></div>
          </div>
    </div>
	</div>
    <div class="contant_box_404">
		<h2 class="h2">
            On dirait que tu es perdu
		</h2>
		
		
		<button [routerLink]="['/']" class="link_404">Revenir sur la page principale</button>
	</div>
</section>