<main>
  <div class="bloc-separation-title">
    <div class="bloc-separation">
      <div class="separationTwo"></div>
  </div>
  <h1>Expositions à venir</h1>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
</div>
  <section>
    <p>Depuis 1986 à Mont-de-Marsan, le Centre d'art contemporain Raymond Farbos soutient les artistes (plasticiens, photographes, graphistes...) et promeut les arts visuels, à destination de tous les publics...</p>
    <p>Une nouvelle étape de la vie du CAC se prépare en cette fin d'année 2023... Nous fermons nos portes temporairement mais nous avons déjà hâte de vous retrouver en Janvier 2024 pour la reprise de nos expositions... [🌼] À bientôt !</p>
  </section>
  <section class="NextExpo_Container">
    <h2 *ngIf="allSameYear">{{ nextExpositions[0].titleDate }}</h2>
    <div class="nextExpo_Article">
    <div  *ngFor="let expo of nextExpositions">
      <div class="card">
        <img [src]="expo.image" alt="{{ expo.name }}">
        <div class="card-content">
          <h3>{{expo.name}}</h3>
          <p>{{ expo.dateOfExpo }}</p>
        </div>
        <button>Exposition</button>
      </div>
    </div>
    </div>
  </section>


</main>
