<main>
  <section>
    <p>Depuis 1986 à Mont-de-Marsan, le Centre d'art contemporain Raymond Farbos soutient les artistes (plasticiens, photographes, graphistes...) et promeut les arts visuels, à destination de tous les publics...</p>
    <p>Une nouvelle étape de la vie du CAC se prépare en cette fin d'année 2023... Nous fermons nos portes temporairement mais nous avons déjà hâte de vous retrouver au printemps 2024 pour la reprise de nos expositions... [🌼] À bientôt !</p>
  </section>
  <section>
    <h3>Suite de la programmation 2023</h3>
    <p>6 septembre-18 novembre Exposition Olivier Louloum (installations motorisées et aqua-cinétiques, sculptures, dessins, céramiques Raku)</p>
    <p>Reportée à 2024</p>
  </section>


</main>
