<main>
  <section class="citation-cac">
      <h1>Archives</h1>
  </section>
  <section class="filter_archive">
      <div class="search-container">
          <input class='keywordFilter search-input' placeholder="RECHERCHER..." [(ngModel)]="keywordFilter" (keyup.enter)="applyKeywordFilter(keywordFilter)">
          <button class="search-button" (click)="applyKeywordFilter(keywordFilter)" (keyup)="handleKeyUp($event)" (focus)="handleFocus()">
              <img src="../../../assets/img/loupe.png" alt="Search">
          </button>
      </div>
      <select class='yearFilter' placeholder="TOUTES LES ANNEES" type="text" [(ngModel)]="yearFilter" (change)="applyYearFilter(yearFilter)">
          <option value="">TOUTES LES ANNEES</option>
          <option *ngFor="let date of uniqueYears" [value]="date">{{ date }}</option>
      </select>
  </section>
  <main>
      <section class="archive">
          <div class="archive-container">
              <ng-container *ngFor="let archive of archives | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                  <ng-container *ngIf="archive.date >= 2019">
                      <ng-container *ngIf="showYearHeader(archive.date, i)">
                          <h2 class="year-header">{{ archive.date }}</h2>
                      </ng-container>
                      <div class="post-2019">
                          <li class="card"
                              (click)="navigateToDetail(archive._id, archive.artist ? archive.artist : 'default')"
                              (focus)="handleClick()"
                              (keyup)="handleKeyUp($event)"
                              tabindex="0" role="button">
                              <ng-container *ngIf="archive.image && archive.image.length > 0">
                                  <img [src]="'http://localhost:5000/' + archive.image[0]" alt="Image de l'exposition">
                              </ng-container>
                              <h3>{{ archive.artist }}</h3>
                              <div class="button-tag">
                                  <button id="tag">{{ archive.type }}</button>
                              </div>
                          </li>
                      </div>
                  </ng-container>
              </ng-container>
          </div>
          <div class="pre-2019-container">
              <ng-container *ngFor="let archive of archives | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                  <ng-container *ngIf="archive.date < 2019">
                      <ng-container *ngIf="showYearHeader(archive.date, i)">
                          <h2 class="year-header" style="padding: 20px 0px">{{ archive.date }}</h2>
                      </ng-container>
                      <div class="pre-2019">
                          <li disabled>
                              <h3>{{ archive.artist }}</h3>
                          </li>
                      </div>
                  </ng-container>
              </ng-container>
          </div>
      </section>
      <pagination-controls class="pagination"
                           (pageChange)="changePage($event)"
                           previousLabel="Précédent"
                           nextLabel="Suivant"
                           autoScroll="false"
                           [maxSize]="0">
      </pagination-controls>
  </main>
  <div class="bloc-separation">
      <div class="separationTwo"></div>
  </div>
</main>
