@import '../../../../styles/variables';
footer {
  .footer_info {
    display: flex;
    padding: 0px 0px 12px 0px;
    .adresse {
      p, i {
        font-size: 13.5px;
        font-family: $fontParagraph;
        font-style: normal;
        font-weight: 500;
      }

    }
    .horaire {
      .horaire_centre {
        p {
          font-size: 13.5px;
          font-weight: 500;
        }
      }
      .ferie_centre, .fermeture_centre {
        p {
          font-size: 12px;
        }
      }
    }
    .tarif {
      .tarif_centre {
        font-size: 13.5px;
        font-weight: 500;
      }
      .forfait_etudiant{
        font-size: 12px;
      }
      .adherer {
        a {
          color: black;
            font-family: $fontTitle;
            font-weight: 600;
          background-image: linear-gradient(
            to right,
            #ffcc00,
            #ffcc00 50%,
            #000 50%
          );
          background-size: 200% 100%;
          background-position: -100%;
          display: inline-block;
          padding: 5px 0;
          position: relative;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
        }

        a:before{
          content: '';
          background: #ffcc00;
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 1px;
          transition: all 0.3s ease-in-out;
        }

        a:hover {
         background-position: 0;
        }

        a:hover::before{
          width: 100%;
        }
      }
    }
    .dons {
      .don_centre {
        text-align: center;
        img {
          max-width: 45%;
        }

      }
      .adherer_centre {
        p {
          a {
              color: rgb(77, 76, 76);
            font-family: $fontTitle;
            font-weight: 600;
          }
          a:hover {
            color: black;
          }
        }

      }
      p {
        text-align: center;
        a {
          color: black;
          font-family: $fontParagraph;
        }
      }
    }
  }
  .footer_info div {
    flex: 1;
    padding: 10px;
  }
  .footer_socialmedia {
    padding: 12px 6px 12px 12px;
    border-top: solid 1px rgba(0, 0, 0, 0.336);
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    .cac_footer {
      p {
        a {
          font-family: $fontTitle;
          font-style: normal;
          color: rgb(77, 76, 76);
          font-weight: 500;
          font-size: 15px;
        }
        a:hover {
          color: black;
        }
      }
    }
    .backToTop {
      img {
        width: 10%;
        height: auto;
        cursor: pointer;
        opacity: 0.55;
      }
      img:hover {
        transition: all 333ms cubic-bezier(.4,0,.22,1);
        transform: translateY(-5px);

      }
    }
    .socialMedia_Link {
      ul {
        display: flex;
        justify-content: center;
        gap: 38px;
        li {
          a {
            color: rgb(77, 76, 76);
            font-family: $fontTitle;
          }
          a:hover {
            color: black;
          }
        }
      }
    }
  }
  .footer_socialmedia div {
    flex: 1;
  }
}
@media screen and (max-width: 800px) {
  footer[_ngcontent-ng-c1463478834] .footer_socialmedia[_ngcontent-ng-c1463478834] {
    display: grid;
    justify-content: center;
    .cac_footer {
      padding: 18px;
    }
}
footer {
  .footer_info {
    display: grid;
    text-align: justify
  }
}

}
