<footer>
    <section class="footer_info">
        <div class="adresse">
          <div class="adresse_centre">
            <p>Centre d’Art Contemporain Raymond Farbos -
              1 bis rue Saint Vincent de Paul -
              40000 Mont-de-Marsan</p>
            </div>
            <div class="acces_centre">
            <p>Accès TMA : Ligne A - Place St Roch
                  Navette gratuite - Saint Vincent de Paul
          </p>
        </div>
        <div class="contact_centre">
        <i>T + 05 58 75 55 84</i>
          <p>
            contact&#64;cacdeslandes.com</p>
          </div>
        </div>
        <div class="horaire">
            <div class="horaire_centre">
                <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
              </div>
              <div class="ferie_centre">
                <p>Fermé les jours fériés</p>
              </div>
              <div class="fermeture_centre">
                <p>Fermetures exceptionnelles :
                  Vendredi 29 mars 2024 (Vendredi-Saint)
                  Jeudi 1er août 2024 (Fête nationale)</p>
                </div>

        </div>
        <div class="tarif">
          <div class="tarif_centre">
          <p>Tarif normal 5€<br>
            Tarif réduit 2€ (Apprentis, artistes, enseignants, retraités)</p>
          </div>
          <div class="forfait_etudiant">
            <p>Gratuit pour les membres AACAC, jeunes jusqu'à 18 ans et étudiants, groupes scolaires, chômeurs et AI, ICOM, AICA</p>
          </div>
          <div class="adherer">
            <p>
              <a target="_blank" href="https://www.helloasso.com/associations/centre-d-art-contemporain-des-landes/formulaires/1">
                Adhérer - Faire un don
              </a>
            </p>
          </div>
        </div>
        <div class="dons">
          <div class="don_centre">
<img [routerLink]="['/']"src="../../../../assets/img/raymondfarbos-logo (2).png" alt="Logo Centre d'art contemporain Raymond Farbos">

        </div>
        <div class="adherer_centre">
          <p><a [routerLink]="['/mentions-legales']" (click)="scrollToTop()">Mentions légales</a></p>
        </div>
        </div>




    </section>
    <section class="footer_socialmedia">
      <div class="cac_footer">
          <p>
              <a href=""> © Centre d'Art Contemporain Raymond Farbos</a>
          </p>
      </div>
      <div class="backToTop" id="backToTop" (click)="scrollToTop()">
        <img src="../../../../assets/img/arrow_backToTop.svg" alt="arrow up">
      </div>
      <div class="socialMedia_Link">
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/CACRF40/?locale=fr_FR">Facebook</a></li>
          <li><a target="_blank" href="https://www.instagram.com/cacdeslandes/?hl=fr">Instagram</a></li>
        </ul>
      </div>
    </section>
</footer>
