<main>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p>Gestion des adhésions</p>
  </div>
  <section>
    <div *ngIf="membres.length > 0; else noMembers">
      <h2>Liste des adhérents</h2>
      <ul>
        <li *ngFor="let membre of membres">
          <p>Nom: {{ membre.lastname }}</p>
          <p>Prénom: {{ membre.firstname }}</p>
          <p>Email: {{ membre.email }}</p>
          <!-- Ajoutez d'autres propriétés des membres à afficher selon vos besoins -->
        </li>
      </ul>
    </div>

    <ng-template #noMembers>
      <p>Aucun adhérent trouvé.</p>
    </ng-template>
  </section>
</main>
