<main>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p>Gestion des adhésions</p>
  </div>
  <section>
    <div class="list-members" *ngIf="membres.length > 0;">
      <h2>Liste des adhérents</h2>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Type d'adhésion</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membre of membres" >
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.firstname }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.firstname">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.lastname }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.lastname">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.email }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.email">
            </td>
            <td>  <ng-container *ngIf="!membre.editMode">{{ membre.adresse }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.adresse">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.city }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.city">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.type }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.type">
            </td>
            <td class="actions-cell">
              <button (click)="membre.editMode ? updateMember(membre) : toggleEditMode(membre)">
                <ng-container *ngIf="!membre.editMode">
                  <img src="../../../../assets/img/icon-edit.png" alt="edit">
                </ng-container>
                <ng-container *ngIf="membre.editMode">
                  <img src="../../../../assets/img/mark.png" alt="">
                </ng-container>
              </button>
              <button (click)="cancelEdit(membre)" *ngIf="membre.editMode">
                <img src="../../../../assets/img/cancel.png" alt="">
              </button>
              <button (click)="deleteMember(membre)"><img src="../../../../assets/img/icon-delete.png" alt=""></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </section>
  <section>
    <div class="list-members">
      <h2>Ajouter un nouvel adhérent</h2>
      <form class="createMember" (submit)="createMember()">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Adresse postale</th>
              <th>Ville</th>
              <th>Pays</th>
              <th>Type d'adhésion</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" id="nom" [(ngModel)]="newMember.firstname" name="nom" required></td>
              <td><input type="text" id="prenom" [(ngModel)]="newMember.lastname" name="prenom" required></td>
              <td><input type="email" id="email" [(ngModel)]="newMember.email" name="email" required></td>
              <td><input type="text" id="adresse" [(ngModel)]="newMember.adresse" name="adresse" required></td>
              <td><input type="text" id="postaladresse" [(ngModel)]="newMember.postaladresse" name="adresse postale" required></td>
              <td><input type="text" id="ville" [(ngModel)]="newMember.city" name="ville" required></td>
              <td><input type="text" id="pays" [(ngModel)]="newMember.country" name="pays" required></td>
              <td><input type="text" id="type" [(ngModel)]="newMember.type" name="type" required></td>
              <td><button type="submit">
                <img src="../../../../assets/img/plus.png" alt="">
              </button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </section>
</main>
