<main>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p>Gestion des adhésions</p>
  </div>
  <section>
    <div class="list-members" *ngIf="membres.length > 0;">
      <h2>Liste des adhérents</h2>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Type d'adhésion</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membre of membres" >
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.firstname }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.firstname">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.lastname }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.lastname">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.email }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.email">
            </td>
            <td>  <ng-container *ngIf="!membre.editMode">{{ membre.adresse }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.adresse">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.city }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.city">
            </td>
            <td>
              <ng-container *ngIf="!membre.editMode">{{ membre.type }}</ng-container>
              <input [ngClass]="{'editable-row': membre.editMode}" *ngIf="membre.editMode" type="text" [(ngModel)]="membre.type">
            </td>
            <td class="actions-cell">
              <button (click)="membre.editMode ? updateMember(membre) : toggleEditMode(membre)">
                <ng-container *ngIf="!membre.editMode">
                  <img src="../../../../assets/img/icon-edit.png" alt="edit">
                </ng-container>
                <ng-container *ngIf="membre.editMode">
                  <img src="../../../../assets/img/mark.png" alt="">
                </ng-container>
              </button>
              <button (click)="cancelEdit(membre)" *ngIf="membre.editMode">
                <img src="../../../../assets/img/cancel.png" alt="">
              </button>
              <button (click)="deleteMember(membre)"><img src="../../../../assets/img/icon-delete.png" alt=""></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </section>
</main>
