@import '_mixins';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
        font-family: 'News Gothic MT Std Bold Italic';
        src: url('../assets/fonts/News\ Gothic\ MT\ Std\ Bold\ Italic.otf') format('opentype');
        font-weight: bold;
        font-style: italic;
      }
@font-face {
  font-family: 'Nimbus Mono L Bold';
  src: url('../assets/fonts/Nimbus\ Mono\ L\ Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaselBook Bold';
  font-style: normal;
  font-weight: normal;
  src: local('BaselBook Bold'), url('../assets/fonts/Baselbkn.woff') format('woff');
  }

body,
html {
  max-width: 1145px;
  margin: auto;
        padding: 0;
}


h1 {
        font-size: 2em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h2 {
        font-size: 1.5em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h3 {
        font-size: 1.10em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h4 {
        font-size: 1em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

a {
        font-size: $basicFontSize;
        text-decoration: none;
        font-family: $fontParagraph;
}

li {
        list-style-type: none;
}

p {
        color: #313131;
        font-family: $fontParagraph;
        font-size: $basicFontSize;
        text-align: justify;
        line-height: 20px;
}
img {
        max-width: 100%;
}
.separation {
        width: 296px;
        border: 0.01px #a6a6a6 solid;
        margin: auto;
}
.separationTwo {
        width: 1145px;
        border: 0.01px #a6a6a6 solid;
        margin: auto;
}
.bloc-separation {
        padding: 60px 0px 60px 0px;
}
main {
  section{
        padding: 28px 0px 12px 0px;
}
}
