<main>
  <section class="model-detail-article">
<div *ngIf="expo">
  <div class="header-model-details">
  <img [src]="expo.image" alt="Expo image">
  <h2>{{expo.name}}</h2>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
</div>
<div class="content-model-details">
  <div class="content-model-left">
    <div class="info-mode-left">
      <div class="date-model-detail">
        <p>{{expo.type}}</p>
        <p>{{expo.dateOfExpo}}</p>
      </div>
      <div class="horaire_bloc_contact">
        <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
      </div>
    </div>
  </div>
  <div  class="content-model-right">
    <p>{{expo.description}}</p>
    <div *ngFor="let img of expo.image; let i = index">
      <img *ngIf="i !== 0" [src]="img" alt="Expo image">
    </div>
    
  </div>
</div>
</div>
</section>
<div class="horaire_bloc_contact">
              <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
            </div></main>