<main>
    <div class="bloc-separation-title">
        <div class="bloc-separation">
          <div class="separationTwo"></div>
      </div>
      <h1>TITLE DYNAMIC OEUVRE CLIQUE</h1>
      <div class="bloc-separation">
        <div class="separationTwo"></div>
      </div>
    </div>
    <section class="oeuvre-cp">
        <div class="img-oeuvre-cp">
            <img src="../../../assets/img/collection-permanente/mg-5640-dxo.webp" alt="">
        </div>
        <div class="info-img-oeuvre-cp">
            <h2>Pierre Buraglio, PB Ciblé,</h2>
            <p>Né le 4 mars 1939 à Charenton-le-Pont, peintre, graveur, lithographe.</p>
            <p>Ses œuvres se donnent à voir d’abord pour ce qu’elles sont dans leurs constituants matériels les plus dérisoires, « cette économie de pain perdu », dont il parle volontiers. Partant de là, très vite, une autre lecture s’impose où il ne saurait être question d’autre chose que de situations plastiques d’une très grande acuité formelle. Ici, le découpage de l’espace, le traitement de la lumière, la rigueur des tracés, la répartition et le choix de certaines couleurs, prennent en charge, largement, totalement, toute la réalité du fait plastique.</p>
            <p>Le matériau utilisé par Pierre Buraglio est celui qui puise dans ses rencontres avec le quotidien. […]
                La forme rigoureuse dans l’espace et le rapport qu’elle entretient avec le mur est l’une des obsessions de Pierre Buraglio. L’autre, c’est la couleur, et pour être tout à fait juste, il faudrait dire une couleur qui implique toujours la lumière. En jouant sur l’épaisseur des vitres qu’il installe dans ses montants, en répartissant différemment l’écart entre deux tonalités, parfois complémentaires, comme ailleurs en variant les biffures colorées sous lesquelles disparaissent les colonnes d’un journal, Pierre Buraglio fait œuvre de coloriste raffiné. […]</p><p>
                    Une œuvre faite « exprès avec rien », selon Buraglio lui-même.

D’après Maïten Bouisset, CNAC magazine, n°12, novembre-décembre 1982

Pierre Buraglio a exposé au Cac du 19 juin au 31 août 1992
                </p>
        </div>
    </section>
</main>