@import '../adherents/adherents.component.scss';
@import '../../../../styles/variables.scss';
.createAdmin {
  input {
  border: 2px solid #4dd180;
  padding: 2px 0px;
  width: auto;
  border-radius: 3px;
  font-family: $fontParagraph;
}
}
