@import '../adherents/adherents.component.scss';
.mediation-backoffice, .nextExpo-backoffice, .news-backoffice, .collection-backoffice{
td {
  text-align: center;
  img {
    max-width: 4%;
}
}
}
.news-backoffice {
  .editable-row {
    width: 107px!important;
  }
}
