<main>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p>Back office : Gestion du contenus</p>
  </div>
  <section class="news-backoffice">
    <div class="list-members">
      <h2>Gestion des actualités</h2>
    </div>
  </section>
  <section class="nextExpo-backoffice">
    <div class="list-members">
      <h2>Gestion des évènements à venir</h2>
      <table>
        <thead>
          <tr>
            <th>Année</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expo of nextExpositions">
            <td>
              <ng-container *ngIf="!expo.editMode">{{ expo.titleDate }}</ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="text" [(ngModel)]="expo.titleDate">
            </td>
            <td>
              <ng-container *ngIf="!expo.editMode">{{ expo.name }}</ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="text" [(ngModel)]="expo.name">
            </td>
            <td>
              <ng-container *ngIf="!expo.editMode">
                <img [src]="expo.image" alt="Image de la prochaine exposition">
              </ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="file" [(ngModel)]="expo.image">
            </td>
            <td>
              <ng-container *ngIf="!expo.editMode">{{ expo.dateOfExpo }}</ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="text" [(ngModel)]="expo.dateOfExpo">
            </td>
            <td>
              <ng-container *ngIf="!expo.editMode">{{ expo.description.slice(0, (expo.description.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="text" [(ngModel)]="expo.description">
            </td>
            <td>
              <ng-container *ngIf="!expo.editMode">{{ expo.type }}</ng-container>
              <input [ngClass]="{'editable-row': expo.editMode}" *ngIf="expo.editMode" type="text" [(ngModel)]="expo.type">
            </td>

            <td class="actions-cell">
              <button (click)="expo.editMode ? updateNextExpo(expo) : toggleEditModeNextExpo(expo)">
                <ng-container *ngIf="!expo.editMode">
                  <img src="../../../../assets/img/icon-edit.png" alt="edit">
                </ng-container>
                <ng-container *ngIf="expo.editMode">
                  <img src="../../../../assets/img/mark.png" alt="confirmer">
                </ng-container>
              </button>
              <button (click)="cancelEditNextExpo(expo)" *ngIf="expo.editMode">
                <img src="../../../../assets/img/cancel.png" alt="annuler">
              </button>
              <button (click)="deleteNextExpo(expo)"><img src="../../../../assets/img/icon-delete.png" alt="supprimer"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="mediation-backoffice">
    <div class="list-members">
      <h2>Gestion des médiations</h2>
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Introduction</th>
            <th>Image</th>
            <th>Sous-titre</th>
            <th>Description</th>
            <th>Infos supplémentaires</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mediation of mediations">
            <td>
              <ng-container *ngIf="!mediation.editMode">{{ mediation.title }}</ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="text" [(ngModel)]="mediation.title">
            </td>
            <td>
              <ng-container *ngIf="!mediation.editMode">{{ mediation.intro.slice(0, (mediation.intro.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="text" [(ngModel)]="mediation.intro">
            </td>
            <td>
              <ng-container *ngIf="!mediation.editMode">
                <img [src]="mediation.image" alt="Image de la médiation">
              </ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="file" [(ngModel)]="mediation.image">
            </td>
            <td>
              <ng-container *ngIf="!mediation.editMode">{{ mediation.subtitle }}</ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="text" [(ngModel)]="mediation.subtitle">
            </td>
            <td>
              <ng-container *ngIf="!mediation.editMode">{{ mediation.description.slice(0, (mediation.description.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="text" [(ngModel)]="mediation.description">
            </td>
            <td>
              <ng-container *ngIf="!mediation.editMode">{{ mediation.infosupp.slice(0, (mediation.infosupp.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': mediation.editMode}" *ngIf="mediation.editMode" type="text" [(ngModel)]="mediation.infosupp">
            </td>

            <td class="actions-cell">
              <button (click)="mediation.editMode ? updateMediation(mediation) : toggleEditModeMediation(mediation)">
                <ng-container *ngIf="!mediation.editMode">
                  <img src="../../../../assets/img/icon-edit.png" alt="edit">
                </ng-container>
                <ng-container *ngIf="mediation.editMode">
                  <img src="../../../../assets/img/mark.png" alt="confirmer">
                </ng-container>
              </button>
              <button (click)="cancelEditMediation(mediation)" *ngIf="mediation.editMode">
                <img src="../../../../assets/img/cancel.png" alt="annuler">
              </button>
              <button (click)="deleteMediation(mediation)"><img src="../../../../assets/img/icon-delete.png" alt="supprimer"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list-members">
      <h2>Ajouter une nouvelle médiation</h2>
      <form class="createMediation" (submit)="createMediation(newMediation)">
        <table>
          <thead>
            <tr>
              <th>Titre</th>
              <th>Introduction</th>
              <th>Image</th>
              <th>Sous-titre</th>
              <th>Description</th>
              <th>Infos supplémentaires</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" id="title" [(ngModel)]="newMediation.title" name="title" required></td>
              <td><input type="text" id="intro" [(ngModel)]="newMediation.intro" name="intro" required></td>
              <td><input type="file" id="image" (change)="handleFileInputMediation($event)" name="image" required></td>
              <td><input type="text" id="subtitle" [(ngModel)]="newMediation.subtitle" name="subtitle" required></td>
              <td><input type="text" id="description" [(ngModel)]="newMediation.description" name="description" required></td>
              <td><input type="text" id="infosupp" [(ngModel)]="newMediation.infosupp" name="infosupp" required></td>
              <td><button type="submit">
                <img src="../../../../assets/img/plus.png" alt="">
              </button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </section>
  <section class="collection-backoffice">
    <div class="list-members">
      <h2>Gestion de la collection permanente</h2>
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Image</th>
            <th>Description</th>
            <th>Date d'exposition</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artwork of artworks">
            <td>
              <ng-container *ngIf="!artwork.editMode">{{ artwork.artist }}</ng-container>
              <input [ngClass]="{'editable-row': artwork.editMode}" *ngIf="artwork.editMode" type="text" [(ngModel)]="artwork.artist">
            </td>
            <td>
              <ng-container *ngIf="!artwork.editMode">
                <img [src]="artwork.image" alt="Image de l'oeuvre">
              </ng-container>
              <input [ngClass]="{'editable-row': artwork.editMode}" *ngIf="artwork.editMode" type="file" [(ngModel)]="artwork.image">
            </td>
            <td>
              <ng-container *ngIf="!artwork.editMode">{{ artwork.description.slice(0, (artwork.description.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': artwork.editMode}" *ngIf="artwork.editMode" type="text" [(ngModel)]="artwork.description">
            </td>
            <td>
              <ng-container *ngIf="!artwork.editMode">{{ artwork.dateOfExposition.slice(0, (artwork.dateOfExposition.length * 0.2)) + "[...]" }}</ng-container>
              <input [ngClass]="{'editable-row': artwork.editMode}" *ngIf="artwork.editMode" type="text" [(ngModel)]="artwork.dateOfExposition">
            </td>
            <td>
              <ng-container *ngIf="!artwork.editMode">{{ artwork.type }}</ng-container>
              <input [ngClass]="{'editable-row': artwork.editMode}" *ngIf="artwork.editMode" type="text" [(ngModel)]="artwork.type">
            </td>

            <td class="actions-cell">
              <button (click)="artwork.editMode ? updateArtWork(artwork) : toggleEditModeArtWork(artwork)">
                <ng-container *ngIf="!artwork.editMode">
                  <img src="../../../../assets/img/icon-edit.png" alt="edit">
                </ng-container>
                <ng-container *ngIf="artwork.editMode">
                  <img src="../../../../assets/img/mark.png" alt="confirmer">
                </ng-container>
              </button>
              <button (click)="cancelEditArtWork(artwork)" *ngIf="artwork.editMode">
                <img src="../../../../assets/img/cancel.png" alt="annuler">
              </button>
              <button (click)="deleteArtWork(artwork)"><img src="../../../../assets/img/icon-delete.png" alt="supprimer"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list-members">
      <h2>Ajouter une nouvelle oeuvre à la collection permanente</h2>
      <form class="createArtwork" (submit)="createArtWork(newArtWork)">
        <table>
          <thead>
            <tr>
              <th>Titre</th>
              <th>Image</th>
              <th>Description</th>
              <th>Date d'exposition</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" id="title" [(ngModel)]="newArtWork.artist" name="title" required></td>
              <td><input type="file" id="image" (change)="handleFileInputArtwork($event)" name="image" required></td>
              <td><input type="text" id="subtitle" [(ngModel)]="newArtWork.description" name="subtitle" required></td>
              <td><input type="text" id="description" [(ngModel)]="newArtWork.dateOfExposition" name="description" required></td>
              <td><input type="text" id="type" [(ngModel)]="newArtWork.type" name="type" required></td>
              <td><button type="submit">
                <img src="../../../../assets/img/plus.png" alt="">
              </button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </section>
  <section class="archives-backoffice">
    <div class="list-members">
      <h2>Gestion des archives</h2>
    </div>
  </section>
</main>
