<main>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
  <div class="actualite">
    <p>Back office : Gestion du contenus</p>
  </div>
  <section class="news-backoffice">
    <div class="list-members">
      <h2>Gestion des actualités</h2>
    </div>
  </section>
  <section class="nextExpo-backoffice">
    <div class="list-members">
      <h2>Gestion des évènements à venir</h2>
    </div>
  </section>
  <section class="mediation-backoffice">
    <div class="list-members">
      <h2>Gestion des médiations</h2>
    </div>
  </section>
  <section class="collection-backoffice">
    <div class="list-members">
      <h2>Gestion de la collection permanente</h2>
    </div>
  </section>
  <section class="archives-backoffice">
    <div class="list-members">
      <h2>Gestion des archives</h2>
    </div>
  </section>
</main>
