@import '../adherents/adherents.component.scss';
.mediation-backoffice, .collection-backoffice, .nextExpo-backoffice, .news-backoffice, .archives-backoffice {
td {
  height: 130px;
  text-align: center;
  img {
    max-width: 40%;
}
}
}

.news-backoffice {
  .editable-row {
    width: 107px!important;
  }
}
