<main>
    <section>
        <h1>Les expositions au Centre d'Art Contemporain Raymond Fabors depuis 1986 </h1>
        <p>Depuis ses débuts en 1986, le CAC s'est imposé comme un lieu incontournable de la scène artistique contemporaine, offrant aux visiteurs une expérience unique au cœur de la création contemporaine.
            <p>
                Explorez les archives visuelles et artistiques des expositions qui ont marqué et façonné l'identité du CAC. De la découverte de jeunes talents prometteurs aux rétrospectives des grands noms de l'art contemporain, chaque exposition est une invitation à la réflexion et à la découverte de nouvelles perspectives artistiques.
            </p>
           
    </section>
    <div *ngFor="let archive of archives">
        <h2>{{ archive.date }}</h2>
        <p>{{ archive.artist }}</p>
    </div>
</main>
