<main>
    <section class="citation-cac">
        <h1>Archives
    </h1>
    </section>
    <div class="bloc-separation">
    <div class="separation"></div>
    </div>
    <section>
        <p>
            Depuis ses débuts en 1986, le CAC s'est imposé comme un lieu incontournable de la scène artistique contemporaine, offrant aux visiteurs une expérience unique au cœur de la création contemporaine.
    Explorez les archives visuelles et artistiques des expositions qui ont marqué et façonné l'identité du CAC. De la découverte de jeunes talents prometteurs aux rétrospectives des grands noms de l'art contemporain, chaque exposition est une invitation à la réflexion et à la découverte de nouvelles perspectives artistiques.
</p>
    </section>
    <section class="archive">
      <div class="container_archive" *ngFor="let group of archives" [ngClass]="{'pre-2019': group.year < 2019}">
        <p [ngClass]="{'baseline': group.year < 2019, 'no-baseline': group.year >= 2019}">{{ group.year }}</p>
        <ul [ngClass]="{'pre-2019-flex': group.year < 2019, 'post-2019': group.year >= 2019}">
          <ng-container *ngIf="group.year < 2019">
            <li class="pre-2019-artist">{{ group.archives[0].artist }}</li>
          </ng-container>
          <ng-container *ngIf="group.year >= 2019">
            <li *ngFor="let archive of group.archives" class="card">
              <ng-container *ngIf="archive.image.length > 0">
                <img [src]="'http://localhost:5000/' + archive.image[0]" alt="Image de l'exposition">
                <h3>{{ archive.title }}</h3>
                <div class="button-tag">
                  <button id="tag">{{archive.type}}</button>
                </div>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </div>
    </section>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
</main>
