<main>
  <section class="model-detail-article">
    <div *ngIf="news">
      <div class="header-model-details">
        <img [src]="news.image[0]" alt="Image de la nouvelle">
        <h2>{{ news.title }}</h2>
        <div class="bloc-separation">
          <div class="separationTwo"></div>
        </div>
      </div>
      <div class="content-model-details">
        <div class="content-model-left">
          <div class="info-mode-left">
            <div class="date-model-detail">
              <p>{{news.type}}</p>
              <p>{{ news.month }}</p>
            </div>
            <div class="horaire_bloc_contact">
              <p>Ouvert le mercredi, le jeudi, le vendredi de 14 h à 19 h, le samedi de 10 h à 13 h et de 14 h à 18 h</p>
            </div>
          </div>
        </div>
        <div class="content-model-right">
          <p>{{ news.description | slice:0:1000 }}</p> <!-- Affiche les 1000 premiers caractères de la description -->
          <div *ngFor="let img of news.image; let i = index">
            <img *ngIf="i !== 0" [src]="img" alt="Image de la nouvelle">
          </div>
          <p>{{ news.description | slice:1000 }}</p> <!-- Affiche le reste de la description -->
        </div>
      </div>
      <p>{{ news.rencontretext }}</p>
      <p>{{ news.soutien }}</p>
    </div>
  </section>
</main>