.info-mode-left {
  display: grid;
    width: 300px;
    gap: 20px;
    .date-model-detail, .horaire_bloc_contact {
      background-color: #f1f1f1;
      border-radius: 8px;
      padding: 22px;
      max-width: 266px;
      height: 123px;
      p {
        font-weight: 550;
      }
    }
  }