<main>
  <section class="model-detail-article">
    <div *ngIf="news">
      <div class="header-model-details">
        <img [src]="news.image[0]" alt="Image de la nouvelle">
        <h2>{{ news.title }}</h2>
        <div class="bloc-separation">
          <div class="separationTwo"></div>
        </div>
      </div>
      <div class="content-model-details">
        <div class="content-model-left">
          <div class="infos-model-left">
            <div class="info-model-detail">
              <p>{{news.type}}</p>
              <p>{{ news.month }}</p>
            </div>
              <p class="info-model-detail">{{news.rencontretext}}</p>
             <p class="info-model-detail">{{news.event}}</p>
          </div>
        </div>
        <div class="content-model-right">
          <p>{{ news.description | slice:0:1000 }}</p> 
          <div *ngFor="let img of news.image; let i = index">
            <img *ngIf="i !== 0" [src]="img" alt="Image de la nouvelle">
          </div>
          <p>{{ news.description | slice:1000 }}</p> 
        </div>
      </div>
      <p>{{ news.soutien }}</p>
    </div>
  </section>
</main>