<main>
  <section class="model-detail-article">
    <div *ngIf="news">
      <div class="header-model-details">
        <img [src]="news.image[0]" alt="Image de la nouvelle">
        <h2>{{ news.title }}</h2>
        <div class="bloc-separation">
          <div class="separationTwo"></div>
        </div>
      </div>
      <div class="content-model-details">
        <div class="content-model-left">
          <div class="info-mode-left">
            <div class="date-model-detail">
              <p class="type-model">{{news.type}}</p>
              <p>{{ news.month }}</p>
            </div>
              <p class="date-model-detail">{{news.rencontretext}}</p>
             <p class="date-model-detail">{{news.event}}</p>
          </div>
          <div class="soutien-model-detail" >
            <p class="soutien-title">AVEC LE SOUTIEN DE</p>
            <ul>
              <li *ngFor="let support of news.soutien">{{ support }}</li>

            </ul>
          </div>
        </div>
        <div class="content-model-right">
          <ng-container *ngFor="let item of splitDescription(news.description, 3)">
            <p *ngIf="!item.isImage">{{ item.content }}</p>
            <img *ngIf="item.isImage" [src]="news.image[1]" alt="Image de la nouvelle">
          </ng-container>
        </div>
      </div>
    </div>
    <div class="button-model-detail">
    <button class="buttonOne"(click)="goBack()">Retour à la page précédente</button>
  </div>
  </section>
</main>
