@import '../../../../styles/variables';

.ouverture-fermeture {
  position: absolute;
  top: 14px;
  left: 18px;
  a {
    font-family: $fontTitle;
    cursor: help;
    font-size: 14.5px;
    color:black;
  }
}
.ouvert {
  color: green;
}
.ferme{
  color: rgb(228, 16, 16);
}
