<main>
    <section class="login-section">
        <div class="bloc-separation-title">
            <div class="bloc-separation">
              <div class="separationTwo"></div>
          </div>
          <h1>Back Office</h1>
          <div class="bloc-separation">
            <div class="separationTwo"></div>
          </div>
    </div>
        <div class="login-cac">
        <div class="container">
            <div class="left">
              <div class="header">
                <div class="img-container-login">
                    <img src="../../../../assets/img/Logotype_cac.png" alt="image back office">
                </div>
                <h2 class="animation a1">Welcome Back ! </h2>
              </div>
              <form (ngSubmit)="submitLoginForm()">
              <div class="form">
                <input type="email" class="form-field animation a3" placeholder="Email" name="email" id="email" [(ngModel)]="email" required>
                <input type="password" class="form-field animation a4" placeholder="Password" name="password" id="password" [(ngModel)]="password" required>
                <button class="animation a6">Se connecter</button>
              </div>
            </form>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </div>
            <div class="right"></div>
          </div>
        </div>
    </section>
</main>
