main {
    text-align: center;
    .login-cac {
        .img-container-login {
            img {
                max-width: 30%;
            }
        }
        .info-container-login {
            display: grid;
            input {
                width: 42%;
                margin: auto;
            }
        }
    }
}