@import '../../../../styles/variables.scss';

main {
  .bloc-separation {
    padding: 0px;
    display: block;
}
  .mediation_cac {
    padding-bottom: 62px;
      display:flex;
      h2 {
        flex: 1;
      }
      div {
        flex: 1;
      }
  }
  .section_mediation_cac{
    padding: 8px 8px;
    .type_mediation_cac {
      display: flex;
      gap: 56px;
      padding: 29px 0px 39px 0px;
      img {
        width: 421px;
        height: 253px;
        object-fit: cover;
      }
      h2 {
        text-align: left;
        padding-bottom: 32px;
      }
      .img_mediation, .info_mediation {
        flex: 1;
      }
      p {
        font-size: 15px;
      }
      .button_mediation {
        -webkit-font-smoothing: antialiased;
        transition: transform 333ms cubic-bezier(.4,0,.22,1), color 333ms cubic-bezier(.4,0,.22,1);
        padding-top: 32px;
        button {
          color: grey;
          padding: 12px 13px;
          border-color: grey;
        }
        button:hover {
          color: black;
          border-color: black;
        }
      }
      .button_mediation:hover {
        transform: translateX(4px);
        color: black;
      }

    }
  }

}

@media screen and (max-width: 800px) {
  main .section_mediation_cac {
    padding: 30px 20px 30px 20px;

}
}

@media screen and (max-width: 700px) {
  main .mediation_cac {
    padding-bottom: 62px;
    display: grid;
    gap: 26px;
}
main[_ngcontent-ng-c995796220] .section_mediation_cac[_ngcontent-ng-c995796220] .type_mediation_cac[_ngcontent-ng-c995796220] {
  display: grid;
  gap: 56px;
}
}

