main {
    padding-bottom: 40px;
    p {
        font-size: 14px;
    }
    .containerTwo_collectionPermanente {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        text-align: center;
        display: grid;
        gap: 50px;
        justify-content: center;
        .card {
            img {
                width: 100%; 
                height: auto; 
                object-fit: cover; 
                text-align: center;
                margin: auto;
            }
        }
        .collection-permanente-oeuvres {
            display: flex;
            align-items: center;
            div {
                flex: 1;
                text-align: center;
                a {
                    img {
                        max-width: 50%;
                    }
                }
            }
            
        }
    }
}