<main>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section class="friend_cac">
<h2>Les amis du CAC</h2>

<div>
<p>
    Depuis son ouverture en 1986, l’Association deu CAC, grâce au soutien et à l’engagement de ses membres, permet au Centre d’offrir à Mont-de-Marsan un programme d’expositions de qualité, dynamique et prospectif dans le champ de l’art contemporain.
    </p>
    <p>Soyez informé·e·s des activités de l’Association des Amis du Centre, rejoignez nous sur nos réseaux sociaux
    </p>
  </div>
</section>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section class="soutenir_cac">
        <div class="img_soutenir">
            <img src="../../../assets/img/centre-pictures/P1180377.jpg" alt="Les amis du centre d'art">
        </div>
        <div class="paragraph_soutenir">
          <div>
            <h3>Soutenir le Centre d’Art Contemporain Raymond Farbos</h3>
          </div>
          <div class="paragraphe_friends">
            <p>L’Association du CAC réunit des amatrices et amateurs, curieux et passionnés qui partagent un intérêt pour la création contemporaine et qui souhaitent soutenir les artistes, encourager leurs pratiques et la production de nouvelles oeuvres.</p>

            <p>Devenir membre vous permet de participer à des activités riches et variées : visites privées et commentées d’expositions, rencontres privilégiées avec des personnalités du monde de l’art, découvertes exclusives de collections privées et d’ateliers d’artistes, accès facilité à certains salons et foires d’art, escapades et voyages culturels.
                </p>
            <p>Devenir membre vous offre également la possibilité d’initier ou d’agrandir votre collection d’œuvres d’art, en acquérant des éditions limitées et signées d’artistes ayant été exposés au Centre. Votre don participe directement au financement du programme artistique du Centre, mais aussi de ses publications et de ses activités de médiation culturelle.</p>
            <p>Soutenez le centre d'art, rejoignez-nous !</p>
          </div>
        </div>
</section>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section class="rejoindre">
    <h2>Rejoignez l'association du CAC</h2>
    <div class="join_cards">
      <div>
        <img src="../../../assets/img/centre-pictures/409751-111162665696508-329067238-n.jpg" alt="Adhérants du centre">
        <div class="add-ami">
          <h1>Adhérant</h1>
          <p>- 90e</p>
          <div class="separation-top"></div>
          <a href="">&#62; Je m'inscris</a>
          <div class="separation-bottom"></div>
        </div>
      </div>
      <div>
        <img src="../../../assets/img/centre-pictures/2022_Presentation_AF_1104.jpg" alt="Amis du centre">
        <div class="add-ami">
          <h1>Ami</h1>
          <p>- 300e </p>
          <div class="separation-top"></div>
          <a href="">&#62; Je m'inscris</a>
          <div class="separation-bottom"></div>

        </div>
      </div>
      <div>
        <img src="../../../assets/img/centre-pictures/20240216164033-d44a4132.jpg" alt="">
        <div class="add-ami">
          <h1>Cercle</h1>
          <p>- 500e </p>
          <div class="separation-top"></div>
          <a href="">&#62; Je m'inscris</a>
          <div class="separation-bottom"></div>
        </div>
      </div>

    </div>
</section>
<div class="bloc-separation">
  <div class="separationTwo"></div>
</div>
<section class="infos_soutenir_cac">
  <div>
    <h2>Coordonnées bancaires</h2>
    <div>
      <p>Société Générale de Mont-de-Marsan, 40 France <br>
        IBAN: FR86 3456 7890 1234 5678 92 <br>
        SWIFT: BFGEGCHGGXXX</p>
        <p>À VERSER POUR <br>
          Association Centre d’Art Contemporain Raymond Farbos <br>
          rue Saint Vincent de Paul <br>
          40000 Mont-de-Marsan</p>
    </div>
  </div>
  <div>
    <div class="comité">
      <h2>Le comité de l’association du CAC</h2>
      <p>Alice Dubois, Présidente · Thomas Leroy, Vice-Président · Sophie Martin, Trésorière · Pauline Lefèvre · Julien Dupont · Isabelle Lambert · Emmanuel Vieux · Nicolas Bertrand Émilie Rousseau · Laurent Deschamps · Camille Petit</p>
    </div>
    <div>
      <h2>Institutions partenaires</h2>
      <p>Musée d'Art Contemporain de Bordeaux · Centre d'Art Moderne de Bordeaux · Galerie d'Art Nouveau · Fondation pour l'Art Avant-Garde · Société des Amis de la Peinture Classique · Institut de Sculpture Contemporaine · Association pour la Promotion des Arts Visuels · Fondation pour la Culture et les Arts ·Centre de Recherche sur l'Expression Artistique · École d'Art et de Design de Mont De Marsan
      </p>
    </div>
  </div>
</section>
</main>
