<main>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section>
<h2>Les amis du CAC</h2>
<p>
    Depuis son ouverture en 1986, l’Association deu CAC, grâce au soutien et à l’engagement de ses membres, permet au Centre d’offrir à Mont-de-Marsan un programme d’expositions de qualité, dynamique et prospectif dans le champ de l’art contemporain.
    
    Soyez informé·e·s des activités de l’Association des Amis du Centre, rejoignez nous sur nos réseaux sociaux
    
    </p>
</section>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h3>Soutenir le Centre d’Art Contemporain Raymond Farbos</h3>
            <p>L’Association du CAC réunit des amatrices et amateurs, curieux et passionnés qui partagent un intérêt pour la création contemporaine et qui souhaitent soutenir les artistes, encourager leurs pratiques et la production de nouvelles oeuvres.</p>

            <p>Devenir membre vous permet de participer à des activités riches et variées : visites privées et commentées d’expositions, rencontres privilégiées avec des personnalités du monde de l’art, découvertes exclusives de collections privées et d’ateliers d’artistes, accès facilité à certains salons et foires d’art, escapades et voyages culturels.
                </p>
            <p>Devenir membre vous offre également la possibilité d’initier ou d’agrandir votre collection d’œuvres d’art, en acquérant des éditions limitées et signées d’artistes ayant été exposés au Centre. Votre don participe directement au financement du programme artistique du Centre, mais aussi de ses publications et de ses activités de médiation culturelle.</p>
        </div>
    </div>
</section>
<div class="bloc-separation">
    <div class="separationTwo"></div>
</div>
<section>
    <h2>Rejoignez l'association du CAC</h2>
</section>
</main>