<header>
    <nav>
        <div class="link-categories-left">
            <ul>
                <li [class.active]="isLinkActive('/')"><a [routerLink]="['/']">Actualité</a></li>
                <li [class.active]="isLinkActive('/next-exposition')"><a [routerLink]="['/next-exposition']">Prochainement</a></li>
                <li [class.active]="isLinkActive('/about')"><a [routerLink]="['/about']">Qui sommes-nous</a></li>
                <li [class.active]="isLinkActive('/mediation')"><a [routerLink]="['/mediation']">Médiation</a></li>
            </ul>
        </div>
        <div class="img-navbar">
          <a [routerLink]="['/']" class="logo-container">
            <div #navbar class="logo"[class.show]="isFirstImageHovered">
              <img src="../../../../assets/img/raymondfarbos-logo (2)c.png" alt="Logo CAC" class="logo-back">
              <img src="../../../../assets/img/raymondfarbos-logo (1).png" alt="Logo CAC" class="logo-front">
            </div>
          </a>
        </div>
        <div class="link-categories-right">
          <ul>
            <li [class.active]="isLinkActive('/friends')"><a [routerLink]="['/friends']">Amis</a></li>
              <li [class.active]="isLinkActive('/collection')"><a [routerLink]="['/collection']">Collection permanente</a></li>
              <li [class.active]="isLinkActive('/archive')"><a [routerLink]="['/archive']">Archives</a></li>
              <li [class.active]="isLinkActive('/contact')"><a [routerLink]="['/contact']">Contact</a></li>
          </ul>
      </div>
      <div class="auth-bubble" *ngIf="isLoggedInToken()">
        <div class="profile-initial" (focus)="handleFocus()" (blur)="handleBlur()" (click)="toggleDropdown()" (keyup)="handleKeyUp($event)" tabindex="0">{{ userInitial }}</div>
        <div class="dropdown" *ngIf="isDropdownOpen" (focus)="handleFocus()" (blur)="handleBlur()">
          <ul>
            <li><a [routerLink]="['/admin/dashboard']">Back Office</a></li>
            <li><a [routerLink]="['/admin/dashboard']">Gestion admin</a></li>
            <li><a [routerLink]="['/admin/dashboard']">Gestion adhér</a></li>
            <li (click)="logout()" (focus)="handleFocus()" (keyup)="handleKeyUp($event)" tabindex="0">Déconnexion</li>
          </ul>
        </div>
      </div>
    </nav>
</header>


