<header>
    <nav>

        <div class="link-categories-left">
            <ul>
                <li [class.active]="isLinkActive('/')"><a [routerLink]="['/']">Actualité</a></li>
                <li [class.active]="isLinkActive('/prochaine-exposition')"><a [routerLink]="['/prochaine-exposition']">Prochainement</a></li>
                <li [class.active]="isLinkActive('/a-propos')"><a [routerLink]="['/a-propos']">Qui sommes-nous</a></li>
            </ul>

        </div>
        <div class="img-navbar">
          <a [routerLink]="['/']" class="logo-container">
            <div class="logo" (mouseover)="handleHover()" (mouseout)="handleMouseOut()">
              <img src="../../../../assets/img/raymondfarbos-logo (2).png" alt="" class="logo-back" [class.hidden]="isFirstImageHovered">
              <img src="../../../../assets/img/raymondfarbos-logo (1).png" alt="" class="logo-front" [class.hidden]="!isFirstImageHovered">
            </div>
          </a>
        </div>





        <div class="link-categories-right">
          <ul>
              <li [class.active]="isLinkActive('/collection-permanente')"><a [routerLink]="['/collection-permanente']">Collection permanente</a></li>
              <li [class.active]="isLinkActive('/archives')"><a [routerLink]="['/archives']">Archives</a></li>
              <li [class.active]="isLinkActive('/contact')"><a [routerLink]="['/contact']">Contact</a></li>
          </ul>

      </div>
      <div class="auth-bubble" *ngIf="isLoggedIn()">
        <div class="profile-initial" (click)="toggleDropdown()">{{ userInitial }}</div>
        <div class="dropdown" *ngIf="isDropdownOpen">
          <ul>
            <li><a [routerLink]="['/admin/dashboard']">Back Office</a></li>
            <li (click)="logout()">Déconnexion</li>
          </ul>
        </div>
      </div>
    </nav>
</header>


