@import '../../../../styles/mixins';
@import '../../../../styles/variables';

nav {
    padding: 1.5em 2em 1.5em 2em;
    @include flex-center-space;
    align-items: start;
    .img-navbar {
        img {
            max-width: 100px;
        }
    }
    .link-categories-left, .link-categories-right {
        ul {
            display: flex;
            gap: 18px;

            li {
                a {
                  color: #858585;
                  font-family: $fontTitle;
                }
                a:hover {
                  color: #000000;
                }
            }
        }
    }

    .auth-bubble {
      position: relative;
      cursor: pointer;
      left: 10px;
      top: 8px;
      cursor: pointer;
          .profile-initial {
            width: 38px;
            height: 38px;
            font-family: $fontTitle;
            border-radius: 50%;
            border: rgba(0, 0, 0, 0.615) 1px solid;
            color: rgba(0, 0, 0, 0.625);
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
             &.hover {
          color: black;
          border: black;
            }
          }
          .profite-initial:hover {
            color: black;
            border: black 1px solid;
          }
          .dropdown {
            position: absolute;
            &::before {
              content: "";
              position: absolute;
              top: 3px;
              left: 50%;
              transform: translateX(-50%);
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 10px solid #000000a1;
            }
            ul {
              list-style-type: none;
              padding: 0;
              margin: 0;
              margin-top: 12px;
              margin-left: -79px;
              border-radius: 4px;
              width: 116px;
              text-align: center;
              border: 1px solid #00000073;
              font-size: 12px;
                li {
                  padding: 0.6em 1em;
                  cursor: pointer;
                  color: black;
                  opacity: 0.6;
                  font-family: $fontParagraph;
                  border-bottom: 1px solid #00000073;
                  a {
                    color: black;
                    font-family: $fontParagraph;

                  }
                  &:last-child {
                    border-bottom: none;
                  }
                }
                li:hover {
                  opacity: 1;
                }
            }
          }

    }

}


.logo {
  position: relative;
  width: 114px;
  height: 77px;
  overflow: hidden;
}

.logo img {
  position: absolute;
  top: -4px;
  left: 2px;
  transition: transform 2s ease, opacity 2s ease;
}

.logo-back {
  transform: translateY(0);
  opacity: 1;
  transition: transform 2s ease, opacity 2s ease;

}

.logo-front {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;

}

.logo.show .logo-back {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 2s ease, opacity 2s ease;

}

.logo.show .logo-front {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 2s ease, opacity 2s ease;

}

// MEDIA QUERIES

@media screen and (max-width: 950px) {
  nav {
    align-items: baseline;
    .link-categories-right {
      max-width: 125px;
    }
    .link-categories-left, .link-categories-right {
      ul {
          display: grid;
          gap: 18px;
          text-align: center;
          li {
              a {
                color: #858585;
                font-family: $fontTitle;
              }
              a:hover {
                color: #000000;
              }
          }
      }
  }
  .auth-bubble  {
    display: none;
  }
  }
  .active {
    a {
          color: black!important;

    }
          border-bottom: none;
          padding-bottom: none;
          text-align: center;
  }
}
