@import '_mixins';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
  font-family: 'News Gothic MT Std Bold Italic';
  src: url('../assets/fonts/News\ Gothic\ MT\ Std\ Bold\ Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
      }
@font-face {
  font-family: 'Nimbus Mono L Bold';
  src: url('../assets/fonts/Nimbus\ Mono\ L\ Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaselBook Bold';
  font-style: normal;
  font-weight: normal;
  src: local('BaselBook Bold'), url('../assets/fonts/Baselbkn.woff') format('woff');
  }

body,
html {
  max-width: 1185px;
  margin: auto;
  padding: 0;
}


h1 {
        font-size: 2em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h2 {
        font-size: 1.5em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h3 {
        font-size: 1.10em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

h4 {
        font-size: 1em;
        font-family: $fontTitle;
        color: $ColorTitle;
}

a {
        font-size: $basicFontSize;
        text-decoration: none;
        font-family: $fontParagraph;
}

li {
        list-style-type: none;
}

p {
        font-family: $fontParagraph;
        font-size: 14px;
        color: #333333;
        text-align: justify;
        line-height: 22px;
}

.back-to-top {
        position: fixed;
        bottom: 50px;
        cursor: pointer;
        right: 50px;
        width: 42px;
        height: 42px;
        background: white;
        border: 1px solid black;
        border-radius: 100%;
        opacity: 0.6;
        img {
            width: 30px;
        }
}
.back-to-top:hover {
        opacity: 1;
}

.buttonOne {
        cursor: pointer;
        padding: 11px 6px;
        background: transparent;
        border-radius: 5px;
        text-transform: uppercase;
        border: 0.5px solid black;
        font-size: 12px;
        opacity: 0.9;
}

img {
        max-width: 100%;
}
.separation {
        width: 296px;
        border: 0.01px #a6a6a657 solid;
        margin: auto;
}
.separationTwo {
        width: 1145px;
        border: 0.01px #a6a6a657 solid;
        margin: auto;
}
.bloc-separation {
        padding: 0px 0px 30px 0px;
}
main {
  max-width: 1145px;
  padding: 20px 0px;
  margin: auto;
  section{
        padding: 30px 0px 30px 0px;
}
}
.bloc-separation-title {
  .bloc-separation {
        padding: 26px 0px 26px 0px;
  }
  h1 {
        text-align: center;
  }
}
.active {
  a {
        color: black!important;
  }
        border-bottom: 0.1px rgba(0, 0, 0, 0.315) solid;
        padding-bottom: 5px;
}

.noscroll {
        overflow: hidden;
}
#tag {
  padding: 8px 16px;
  text-transform: uppercase;
  border-radius: 0.6rem;
  background-color: #f1f1f1;
  text-align: center;
  display: inline-block;
  margin-top: -1rem;
  transition: all ease 0.4s;
  cursor: pointer;
  max-width: 12.4rem;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    transition: transform 333ms cubic-bezier(.4,0,.22,1), color 333ms cubic-bezier(.4,0,.22,1);
  #tag {
      padding: 8px 16px;
      text-transform: uppercase;
      border-radius: 0.6rem;
      background-color: #f1f1f1;
      text-align: center;
      display: inline-block;
      margin-top: -1rem;
      transition: all ease 0.4s;
      cursor: pointer;
      max-width: 12.4rem;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  h3 {
      padding: 5px;
      transition: color 0.3s ease;
  }
  display: grid;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  img {
    width: 516px;
    height: 304px;
    object-fit: cover;
    text-align: center;
    margin: auto;
  }
  p {
      text-align: center;
      font-size: 12.5px;
  }
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.044);
  transform: translateY(-3px);
  h3 {
      color: rgba(65, 65, 65, 0.777);
  }
  p{
      opacity: 0.8;
  }
  #tag {
      background-color: #f1f1f1;
      color: #00000066;
  }
}

.focused {
  cursor: pointer;
  color:black;
}

.actualite {
  p {
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
  }
}

//ngx-pagination
.ngx-pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .pagination-next, .pagination-previous, .pagination-next.disabled, .pagination-previous.disabled {
    cursor: pointer;
    padding: 8px 4px;
    background: transparent;
    border-radius: .7rem;
    text-transform: uppercase;
    border: 0.7px solid black;
    font-size: 12px;
    opacity: 0.9;
    .disabled {
      color: black;
      padding: none;
    }
    a:hover,  button:hover {
      background: transparent;
      opacity: 0.6;
  }
  }
   .pagination-previous.disabled:before, .pagination-previous a:before, .pagination-next a:after, .pagination-next.disabled:after {
    content: none!important;
    margin: auto;
}
}

.model-detail-article {
  padding: 0px;
  padding-bottom: 88px;
    max-width: 1088px;
    margin: auto;
  .header-model-details {
    text-align: center;
    .bloc-separation {
      padding: 44px 0px 44px 0px;
      .separationTwo {
        width: 1090px;
      }
    }
    img {
      padding-bottom: 38px;
    }
    h2 {
      text-align: center;
    }
  }
  .content-model-details {
    width: 908px;
    gap: 66px;
    display: flex;
    .content-model-left {
      flex: 0.5;
      .info-mode-left {
        display: grid;
        gap: 20px;
          .date-model-detail {
            background-color: #f1f1f1;
            border-radius: 8px;
            padding: 22px;
            display: grid;
            font-weight: 550;
            text-align: center;
            align-items: center;
            p {
              text-align: center;
              font-weight: normal;
              font-weight: 550;
            }
            .type-model {
              font-size: 12px;
              text-transform: uppercase;
              color: #000000c2;
              text-decoration: underline;
              text-underline-offset: 3px;
              padding-bottom: -5px;
            }
          }
        }
    }


    .content-model-right {
      flex: 1;
      display: grid;
      gap: 15px;
      p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: .008em;
      color: black;
      }
    }
  }
  .button-model-detail {
    text-align: center;
    padding-top: 33px;
    .buttonOne:hover {
      opacity: 0.6;
    }
  }
}

.svg-container {
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  transform-origin: center center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}

