<main>
  <section class="citation-cac">
      <h2>
      <i>“Pour être éclairé et créer quelque chose d’extraordinaire, l’artiste doit d’abord apprendre à se libérer de la tyrannie de la logique et des traditions.” </i>
  </h2>
  </section>
  <div class="bloc-separation">
  <div class="separation"></div>
</div>
  <section class="aboutus">
      <div class="img-aboutus" (click)="toggleImage('raymondfarbos')">
          <img src="../../../assets/img/centre-pictures/raymondfarbos.png" alt="Raymond Farbos préparant une exposition">
          <p id="info-picture">Raymond Farbos préparant une exposition, 1986 </p>
      </div>
      <div class="paragraph-aboutus">
          <div>
          <h3>Le Centre d'art contemporain Raymond Farbos</h3>
          <p>L'association CAC des Landes gère le Centre d'art contemporain Raymond Farbos, lieu d'exposition et d'activités culturelles, labellisé d'intérêt général avec le soutien du Conseil départemental des Landes, de la Ville de Mont-de-Marsan, de Mont-de-Marsan Agglomération et du dispositif FDVA, Fonds de développement de la vie associative (État).
              Chaque année, dans un espace d'exposition de 900 mètres carrés, l'association propose trois à quatre expositions temporaires, organisées par les bénévoles. La collection permanente, constituée par les dons des artistes et les prêts de collectionneurs, occupe les deux salles de l'étage.
          </p>
      </div>
      <div>
          <h3>Notre politique </h3>
          <p>
          L'art contemporain designe ce qui est produit actuellement par des artistes vivants, et nous sommes attachés à rester éclectiques dans nos choix.
          Nous souhaitons présenter des artistes reconnus ou en devenir, dont le travail fait sens.
          Nous souhaitons proposer à l'intérieur et à l'extérieur du centre d'art toutes actions ou manifestations permettant de se familiariser avec l'art contemporain, de rencontrer les artistes et leurs œuvres, d'aiguiser le regard et la curiosité, mieux identifier le processus créatif et dépasser le préjugé culturel élitiste. Nous portons une attention toute particulière aux scolaires, par une communication régulière auprès des enseignants, par la garantie d'un accès facilité, par l'animation d'ateliers.
          Nous travaillons aussi avec les associations et les partenaires locaux, que leur vocation soit artistique ou sociale.
          </p>
      </div>
      </div>

  </section>
  <section class="center-aboutus">
      <div class="activity-center-aboutus">
          <ul>
              <li (click)="toggleImage('exposition')">
                  <p>Expositions</p>
              <img  src="../../../assets/img/centre-pictures/exposition.png" alt="Expositions">

              </li>
              <li (click)="toggleImage('boutique')">
                  <p>Boutique sur place</p>
              <img  src="../../../assets/img/centre-pictures/boutique.png" alt="Boutique">
              </li>
              <li (click)="toggleImage('vernissage')">
                  <p>Vernissages</p>
                  <img  src="../../../assets/img/centre-pictures/vernissage.png" alt="Vernissages">
              </li>
              <li (click)="toggleImage('residente-artite')">
                  <p>Résidence d'artistes</p>
                  <img src="../../../assets/img/centre-pictures/residente-artite.png" alt="Résidence d'artistes">
              </li>
              <li (click)="toggleImage('montage-expo')">
                  <p>Montage d'expositions</p>
                  <img src="../../../assets/img/centre-pictures/montage-expo.png" alt="Montage d'expositions">
              </li>
              <li (click)="toggleImage('atelier-creatif')">
                  <p>Ateliers créatifs</p>
                  <img  src="../../../assets/img/centre-pictures/atelier-creatif.png" alt="Ateliers créatifs">
              </li>
              <li (click)="toggleImage('atelier-scolaires')">
                  <p>Ateliers scolaires</p>
                  <img  src="../../../assets/img/centre-pictures/atelier-scolaires.png" alt="Ateliers scolaires">
              </li>
          </ul>
      </div>
      <div class="image-viewer" *ngIf="showImage" (click)="toggleImage('')">
        <div class="image-container">
          <span class="close-btn">&times;</span>
        <img [src]="selectedImageSrc" alt="">
      </div>
    </div>
      <div (click)="toggleImage('2020-07-06')" class="img-center-aboutus">
      <img src="../../../assets/img/centre-pictures/2020-07-06.png" alt="Collection permanente">
      <p id="info-picture">Collection permanente du Centre d'art, 2017 </p>
  </div>

  </section>
  <div class="bloc-separation">
      <div class="separationTwo"></div>
  </div>
  <section class="historique-aboutus">
      <h3>Dates importantes</h3>
      <div>
          <ul>
              <li>
                  <p>1956 -  L'association des amis de Despiau et Wlérick est fondée. Elle naît de la rencontre de Raymond Farbos, autour du projet de création d'un musée de sculptures à Mont-de-Marsan.</p>
              </li>
              <li>
                  <p>1968 - Le musée Despiau-Wlérick prend forme avec le soutien de la municipalité, et l'association accompagne ce projet jusqu'en 1978.</p>
              </li>
              <li>
                  <p>1984 - L'association s'installe dans l'ancien grenier à grains de la minoterie et crée le Centre d'art contemporain Raymond Farbos. Elle se consacre à maintenir vivante la création plastique contemporaine à Mont-de-Marsan.</p>
              </li>
              <li>
                  <p>1986 - Ouverture au public du Centre d'art contemporain Raymond Farbos.</p>
              </li>
              <li>

                  <p>1994 - Raymond Farbos, fondateur et animateur du Centre, décède. L'équipe de bénévoles poursuit la politique artistique, proposant une grande diversité d'artistes et organisant des expositions variées.</p>
              </li>
              <li>
                  <p>2017 - Année marquante dans la vie de l'association. Une équipe renouvelée donne un nouvel élan pour développer de nouveaux projets. L'association se rebaptise "Centre d'Art Contemporain des Landes"</p>
              </li>
          </ul>
      </div>

  </section>
  <section>

  </section>
  <app-adhesion></app-adhesion>
</main>
