<main class="legalnotice">
  <div class="bloc-separation-title">
    <div class="bloc-separation">
      <div class="separationTwo"></div>
  </div>
  <h1>Mentions légales</h1>
  <div class="bloc-separation">
    <div class="separationTwo"></div>
  </div>
</div>
  <p>Mentions légales

      En vigueur au 31/10/2023

      Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
      dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs du site
      www.cacraymondfarbos.fr les présentes mentions légales.
      La connexion et la navigation sur le site www.cacraymondfarbos.fr par l'utilisateur implique acceptation
      intégrale et sans réserve des présentes mentions légales.
      Ces dernières sont accessibles sur le site à la page « Mentions légales ».</p>

  <h2>Éditeur</h2>
  <p>Le site www.cacraymondfarbos.fr est la propriété de l'association loi 1901 Centre d'Art Contemporain des Landes,
      1 bis rue Saint-Vincent-de-Paul 40000 Mont-de-Marsan (siège social). SIRET 37871252500013.</p>
  <h2>Responsable de la publication</h2>
  <p>Association CAC des Landes, 1 bis rue Saint-Vincent-de-Paul 40000 Mont-de-Marsan</p>

  <h2>Conception</h2>
  <p>PONS Jeffrey, 47 rue Sainte-Catherine, 33000 Bordeaux</p>

  <h2>Accès au site</h2>
  <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non
      et pouvant découler d'une nécessité de maintenance.
      En cas de modification, interruption ou suspension des services le site www.cacraymondfarbos.fr ne saurait être
      tenu responsable.</p>

  <h2>Données personnelles collectées</h2>
  <p>Liste de diffusion : nous recueillons votre adresse email afin de vous envoyer la lettre d'info.

      Se désabonner : si à n’importe quel moment vous souhaitez vous désinscrire et ne plus recevoir d'emails, des
      instructions de désabonnement détaillées sont incluses en bas de chaque lettre d'info.</p>

  <h2>Utilisation de vos données personnelles</h2>
  <p>Durée de stockage de vos données : votre adresse email est stockée pour une durée illimitée, jusqu’à ce que vous
      en demandiez la suppression par simple message à notre adresse mail
      Transmission de vos données personnelles : nous ne vendons, n’échangeons et ne transférons aucune information
      personnelle identifiable à des tiers.</p>

  <h2>Protection des données</h2>
  <p>Comment nous protégeons vos données : nous mettons en œuvre une variété de mesures de sécurité pour préserver la
      sécurité de vos informations personnelles.
      Procédures mises en œuvre en cas de fuite de données : vous serez avertis par courriel à la moindre suspicion de
      fuite de vos données personnelles.</p>

  <h2>Cookies</h2>
  <p>Les cookies sont de petits fichiers texte déposés sur votre disque dur par le site internet visité, lui
      permettant d’enregistrer et de stocker certaines informations de votre ordinateur mais aussi sur vous.
      Ils sont essentiels pour le fonctionnement d’internet car ils permettent la bonne communication entre deux
      ordinateurs. Les informations récupérées servent aussi à faire fonctionner des applications que vous utilisez
      sur le site internet.
      L'utilisateur est informé que lors de ses visites sur le site www.cacraymondfarbos.fr, des cookies peuvent
      s'installer automatiquement sur son logiciel de navigation.

      Statistiques et mesures d’audience : nous recevons et enregistrons automatiquement des informations à partir de
      votre ordinateur et navigateur, vos logiciels et votre matériel, et la page que vous demandez, afin d’obtenir
      des statistiques de navigation sur le site, via le service Google Analytics.

      Remarque : Votre adresse IP n’est pas stockée par Google Analytics.

      Comment refuser les cookies : si vous ne désirez pas recevoir de cookies, vous avez la possibilité de modifier
      les paramètres de votre navigateur. La procédure à suivre varie d'une application de navigateur à l'autre. Si
      vous désirez refuser les cookies de notre site, mais que vous souhaitez accepter ceux provenant d'autres sites,
      vous avez la possibilité, dans les paramètres de votre navigateur, de recevoir un avis avant qu'un cookie ne
      soit stocké sur votre appareil. Veuillez consulter la section "Aide" de votre navigateur pour plus
      d'informations.

      Paramétrer votre navigateur internet: vous pouvez à tout moment choisir de désactiver les cookies. Votre
      navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre ordinateur
      et vous demander de les accepter ou pas.
      Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement.
      Nous vous rappelons que le paramétrage est susceptible de modifier vos conditions d'accès à nos contenus et
      services nécessitant l'utilisation de cookies.
      Si votre navigateur est configuré de manière à refuser l'ensemble des cookies, vous ne pourrez pas profiter
      d'une partie de nos services. Afin de gérer les cookies au plus près de vos attentes nous vous invitons à
      paramétrer votre navigateur en tenant compte de la finalité des cookies.</p>

  <h2>Propriété intellectuelle</h2>
  <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site
      www.cacraymondfarbos.fr, sans autorisation de l'association Centre d'Art Contemporain des Landes, est
      strictement prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par
      le Code de la propriété intellectuelle et le Code civil.</p>
</main>
